body {
   margin: 0;
   border: 0;
   padding: 0;
   background: #FFF;   
   font-family: Arial;
}

img {
	border: 0;
}

a {
   text-decoration: none;
   color:#666666;
}

h2 {
   color: #597F9E;
   font-size: 18px;
   margin-bottom: 3px;

}

h3 {
	margin: 0;
}

hr {
	border: 0;
	margin: 0;
	padding: 0;
	height: 1px;
	background-color: #CCC;
	clear: both;
}

.inner {
   width: 960px;
   margin-left: auto;
   margin-right: auto;
   clear: both;
}

.clear {
   clear: both;
}

/* DIVS */
.div_large {
   background: url(img/div_large.jpg) no-repeat;
   width: 581px;
   height: 4px;
}

.div_medium {
   background: url(img/div_medium.jpg) no-repeat;
   width: 336px;
   height: 4px;
}

.div_small {
   background: url(img/div_small.jpg) no-repeat;
   /*width: 581px;*/
   height: 4px;
}

.div_tiny {
   background: url(img/div_tiny.jpg) no-repeat;
   width: 235px;
   height: 4px;
}

/******************** HEADER ***/
#header {
   background: url(img/ad_repeat_bg.jpg) repeat-x;
}

/* AD */
#ad {
   text-align: center;
}

#header-top {
   padding-top: 14px;
   background: url(img/header_top_bg.jpg) no-repeat;
   height: 114px;
}

#logo {
   background: url(img/logo.jpg) no-repeat;
   width: 459px;
   height: 110px;
   float: left;
   display:block; 
   overflow:hidden;
   text-indent:-800px;
}

/* SEARCH */
#search {
   background: url(img/search_bg.jpg) no-repeat;
   width: 289px;
   height: 110px;
   float: left;
}

#search form input {
   float: left;
   margin-left: 22px;
   margin-top: 76px;
   width: 186px;
   height: 18px;
   border: 0;
   margin-right: 0;
   padding-right: 0;
}

#search form button {
   margin-top: 64px;   
   float: left;
   margin-left: 0px;   
   padding-left: 0;
   border: 0;
   background: url(img/btn_search.gif);
   width: 47px;
   height: 46px;
   text-indent: -9999px;
}

/* WEEK-THOUGHT */
#week-thought {
   color: #FFF;
   font-size: 12px;
   padding-left: 20px;
   width: 190px;
   float: left;
}

	#week-thought h3 {
	   font-weight: bold;
	   font-size: 14px;
	   margin-bottom: 0;
	   margin-top: 5px;
	}
	
	#week-thought p {
	   margin-top: 0;
	   font-size: 10px;
	}

#week-thought div {
   text-align: center;
   padding: 7px;
   background: #3980D1;
   width: 176px; /* 190 */
   height: 12px; /* 26 */
}

#week-thought div span {
   padding-left: 10px;
   padding-right: 10px;
}

#week-thought div a {
   padding-left: 4px;
   text-transform: uppercase;
   font-size: 9px;
   color: #FFF;
}

/* MAIN-HEADER */
#main-header {
   background: url(img/main_header_repeat_bg.jpg) repeat-x;
   height: 110px;
}

/* MENU */
#menu {
   background: url(img/menu_repeat_bg.jpg) repeat-x;
   height: 50px;
}

#menu ul {
   margin-top: 0;
   list-style-type: none;
   padding-top: 7px;
   padding-left: 1px;
}

#menu ul li {
   float: left;
   padding-left: 2px;
}

#menu ul li.plenos_poderes {
   background: url(img/btn_plenos_poderes.jpg) no-repeat;
   width: 129px;
   height: 32px;
}

#menu ul li.vasto_mundo {
   background: url(img/btn_vasto_mundo.jpg) no-repeat;
   width: 110px;
   height: 32px;
}

#menu ul li.forca_da_grana {
   background: url(img/btn_forca_da_grana.jpg) no-repeat;
   width: 124px;
   height: 32px;
}

#menu ul li.palavra_minha {
   background: url(img/btn_palavra_minha.jpg) no-repeat;
   width: 116px;
   height: 32px;
}

#menu ul li.vestigios {
   background: url(img/btn_vestigios.jpg) no-repeat;
   width: 95px;
   height: 32px;
}

#menu ul li.outras_palavras {
   background: url(img/btn_outras_palavras.jpg) no-repeat;
   width: 132px;
   height: 32px;
}

#menu ul li.radar_da_midia {
   background: url(img/btn_radar_da_midia.jpg) no-repeat;
   width: 115px;
   height: 32px;
}

#menu ul li.sopa_de_letras {
   background: url(img/btn_sopa_de_letras.jpg) no-repeat;
   width: 119px;
   height: 32px;
}

#menu ul li a {
   padding-left: 38px;
   color: #597F9E;
   font: bold 9px Arial;
   line-height: 32px;
}

/******************** CONTENT ***/
#content {
   background: url(img/content_repeat_bg.jpg) repeat-x;
   min-height: 115px;
   padding-top: 15px;
}

#main {
   width: 581px;
   float: left;
}

#article .text {
	line-height: 22px;
}

#article .tags {
   color: #7594AD;
   margin-bottom: 5px;
   font-weight: bold;
}

#article .tags a {
   color: #7594AD;
}	

#article h1 {
   background: #DD0000;
   color: #FFF;
   font-size: 28px;
   padding: 2px 6px 2px 6px; /* top right bottom left */
   margin-top: 0;
   margin-bottom: 1px;
}

#article .date {
   background: #F0F3F6;
   color: #666666;
   font-size: 11px;
   margin-top: 1px;
   padding: 6px;
}

#article p {
   font-size: 13px;
}

#article a {
   color: #DD0000;
   font-weight: bold;
}

#article .comments {
   border-top: 1px solid #DEE5EC;
   padding: 5px;
}

#article .comments a {
/*   border-top: 1px solid #DEE5EC;*/
   color: #666666;
   font-size: 11px;
   padding: 5px;
}

#article .comments img {
   padding-right: 5px;
}

/* ARTICLES */
#articles {
}

#articles .tags {
   color: #7493AC;
   font-size: 13px;
   margin-bottom: 0;
}

	#articles .tags a{
		 color: #7493AC;
	}


#articles h3 {
   margin-top: 0;
   color: #DD0000;
   font-size: 21px;
}

/* HIGHLIGHTS */
#highlights {
   float: left;
   width: 319px;
   margin-bottom:15px;
}

#highlights .highlight {
   padding: 1px 15px 10px 15px;
}

a.read-more {
   color: #DD0000;
   font-size: 11px;
   font-weight: bold;
}

#highlights .highlight.odd {
   background: #F0F3F6;
}

#highlights .highlight .title {
	margin-top: 15px;   	
}

#highlights .highlight .title span {
   width: 190px;
   margin-bottom: 5px;
   float: left;
}

#highlights .highlight .title img {
   float: left;
   margin-right: 10px;
   width: 82px;
   height: 82px;
}

#highlights h3 a {
	color: #DD0000;
}

#highlights .highlight p {
   color: #666666;
   font-size: 13px;
}

#highlights .tags {
	margin: 0;
}

/* LATEST NEWS */
#latest-news {
   float: right;
}

#latest-news .article-excerpt {
   background: #F0F3F6;
   border-top: 1px solid #FFF;
   width: 214px;
   font-size: 13px;
   font-weight: bold;
   color: #666;
   padding: 10px;
}

#latest-news .article-excerpt img {
   float: left;
   margin: 0 15px 0 0;
}

#latest-news .article-excerpt p {
	margin: 0;
}

#latest-news .article-excerpt p a {
	color: #666;
}


/*MAIS COMENTADOS*/
#mais-comentados {
   float: left;
   width:319px;
}

#mais-comentados .article-excerpt {
   background: #F0F3F6;
   border-top: 1px solid #FFF;
   width: 299px;
   font-size: 13px;
   font-weight: bold;
   color: #666;
   padding: 10px;
}

#mais-comentados .article-excerpt img {
   float: left;
   margin: 0 15px 0 0;
}

#mais-comentados .article-excerpt p {
	margin: 0;
}

#mais-comentados .article-excerpt p a {
	color: #666;
}










/* SIDEBAR */
#sidebar {
   width: 336px;
   float: right;
}

/* VIDEOS */
#videos{
	width:319px;
	float:left;
}

#videos h2 {
   float: left;
}

#videos span {
   padding-top: 22px;
   color: #597F9E;
   font-size: 11px;
   float: right;
}

#videos p {
   font-size: 13px;
   color: #666;
   margin: 0;
   float:left;
}

/* COLUMNISTS */
#columnists {
	margin-top: 20px;
}

#columnists h2 {
   float: left;
}

#columnists .more {
   color: #597F9E;
   font-size: 11px;
   margin: 0;
}

#columnists .post {
	margin: 10px 0;

}

#columnists .post img {
   float: left;
}

#columnists .post span.iteration {
/*   margin-left: 10px;*/
/*   padding: 5px;*/
   margin-left: 8px;
   width: 285px;
   float: left;
   margin-bottom: 10px;
}

#columnists .post span h3 {
   color: #597F9E;
   font-size: 10px;
   margin-bottom: 0;
}

#columnists .post span h3 a {
   color: #597F9E;
   font-size: 11px;
   margin-bottom: 0;
}

#columnists .post span p {
   font-size: 13px;
   font-weight: bold;
   margin: 0;
}

	#columnists .post span p a {
	   color: #666666;
	}
	
	#columnists .author {
		color: #C00;
	}

/* SOCIAL-MEDIA */
#social-media img {
   float: left;
   margin: 8px;
}

	#social-media p {
	   color: #597F9E;
	   font-size: 12px;
	   margin-top: 10px;
	}
	
	#social-media p a {
	   color: #333333;
	   font-size: 15px;
	}
	
	#social-media span {
	   float: left;
	   width: 165px;
	}

/* LAST-COMMENTS */
#last-comments p a {
   color: #666;
   font-size: 11px;
   margin: 0;
}

#last-comments img {
   float: left;
   margin-right: 10px;
}

#last-comments p.excerpt {
   margin-bottom: 0;
}

#last-comments .when {
   color: #829FB6;
   font-size: 9px;
   margin-top: 0;
   margin-left: 50px;
}

.comment {
	margin: 10px 0;
	clear: both;
}

/* RECOMMENDED-SITES */
#recommended-sites {
   padding-bottom: 10px;
   width: 336px;
}

#recommended-sites a {
   color: #666;
}

#recommended-sites ul {
   color: #666;
   font-size: 11px;
   list-style: none;
   width: 306px;
   margin: 0;
   padding: 0;
}

#recommended-sites ul li {
   width: 153px;
   height: 17px;
   float: left;
}

/* CONTACT-ME */
#contact-me a {
   color: #666;
   font-size: 11px;
}

/* IMAGE */
#image {
   color: #666;
   font-size: 11px;
   width:235px;
   float:right;
   margin-top:20px;
}

#image p {
	margin: 0;
}

#recommended-sites ul li {
   padding: 0 0 3px 0;
}

/******************** FOOTER ***/
#footer {
   background: url(img/footer_repeat_bg.jpg) repeat-x;
   height: 51px;
}

#footer a {
   color: #578491;
}

/* menu */
#footer ul.menu {
   font-size: 11px;
   list-style-type: none;
   margin-top: 0;
   padding-left: 3px;
}

#footer ul.menu li {
   float: left;
   padding-left: 5px;
   padding-right: 5px;
   line-height: 51px;
   text-transform: capitalize;
}

#footer ul.menu li span {
   color: #578491;
   padding-left: 9px;
}

/* notice */
#notice {
   font-size: 10px;
   margin-top: 5px;
   clear: both;
}

/* contact */
#footer {
   margin-bottom: 50px;
   clear: both;
}

#footer ul.contact {
   list-style-type: none;
   float: right;
   font: bold 9px Arial;
   text-transform: uppercase;
   margin-top: 15px;
}

#footer ul.contact li {
   float: left;
   padding-left: 5px;
   padding-top: 6px;
}

#footer ul.contact li a {
   padding-left: 26px;
}

#footer ul.contact li.blogger {
   background: url(img/btn_blogger.jpg) no-repeat;
   width: 106px;
   height: 21px;
}

#footer ul.contact li.blogger a {
  padding-left: 0px;
}

#footer ul.contact li.about {
   background: url(img/btn_about.jpg) no-repeat;
   width: 96px;
   height: 21px;
}

#footer ul.contact li.about a {
  padding-left: 9px;
}

#footer ul.contact li.mail {
   background: url(img/btn_mail.jpg) no-repeat;;
   width: 106px;
   height: 21px;
}

#footer ul.contact li.rss {
   background: url(img/btn_rss.jpg) no-repeat;;
   width: 58px;
   height: 21px;
}

/* NOTICE */ 
#notice p.legal {
   float: left;
   color: #81A7B2;
}

#notice p.by {
   float: right;
}

/* SEARCH, CATEGORY, TAGS */
ul#search-results {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

ul#search-results li {
   margin-bottom: 30px;
}

ul#search-results li h2 a {
   background: #DD0000;
   color: #FFF;
   font-size: 18px;
   padding: 2px 6px 2px 6px;
}

ul#search-results li h2 {
}

ul#search-results li p {
   color: #666666;
   font-size: 13px;   
}

.alignleft {
	float: left;
	margin: 10px;
}

#article img {
	margin: 10px;
}

#article p.comments img {
	margin: 0;
}

#article h1 a {
	color: #FFF;
}


.aligncenter,
div.aligncenter {
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.alignleft {
   float: left;
}

.alignright {
   float: right;
}

.wp-caption {
   border: 1px solid #ddd;
   text-align: center;
   background-color: #f3f3f3;
   padding-top: 4px;
   padding-right: 10px;
   margin: 10px;
   /* optional rounded corners for browsers that support it */
   -moz-border-radius: 3px;
   -khtml-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
}

.wp-caption img {
   margin: 0;
   padding: 0;
   border: 0 none;
}

.wp-caption p.wp-caption-text {
   font-size: 11px;
   line-height: 17px;
   padding: 0 4px 5px;
   margin: 0;
}

.paging {
	font-size: 11px;
}

.text ul {
	font-size: 12px;
}

.category_description p {
	margin: 0;
	font-size: 11px;
}


.read {
   border-top: 1px solid #DEE5EC;
   padding: 5px;
   font-size: 12px;
}

.read ul li {
	margin-bottom: 10px;
}

.read ul li a {
   color: #DD0000;
   font-weight: bold;
}

/*Mais Comentados*/
#mais-comentados{
	margin-top:75px;
}
#mais-comentados h3 {
    background-color: #F0F3F6;
    margin-top: 1px;
    padding: 10px;
}
#mais-comentados h3 a {
    color: #666666;
    font-size: 13px;
}

/*Twitter*/
#twitter {
	margin-bottom:10px;
	color: #666;
	font-size: 12px;
}
#twitter ul{
	margin:0; padding:0;
}
#twitter ul li {
    float: left;
    margin-bottom: 10px;
	list-style:none;
	color:#666666;
}
#twitter ul li a {
    background: none repeat scroll 0 0 transparent;
    float: none;
    font-size: 13px;
    margin: 0;
    padding: 0;
    text-align: left;
	color:#597F9E;
	
}
.tweet_time{
	display:none;
}
.tweet_text{
	font-size:13px;
}
#twitter ul li a img {
    margin-right: 5px;
	float:left;
}
span.twitter-siga-me{
	color:#DD0000;
}
span.twitter-siga-me a{
	color:#000000;
}

#banner-center {
    height: 60px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    width: 581px;
}
.ui-tabs-hide { display: none !important; }

#dinamic ul {
	display: none;
}

#donation p {
	font-size: 13px;
	color: #666;
}

	#donation form {
		text-align: center;
	}